<mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <span>
    <a routerLink="/statistics">Live Statistics</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <div class="account-bar">
      <span class="card-avatar" style="background-size: cover;"  *ngIf="userAvatar"
      [ngStyle]="{'background-image': 'url(' + userAvatar + ')'}"></span>
      <span>{{ userName }}</span>
      <button mat-button (click)="onLogout()">Logout</button>
    </div>
    </li>
  </ul>
</mat-toolbar>
