.card-avatar {
    display: inline-block;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #789CB4;
    background-color: #e3e3e3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media all and (max-width: 400px) {
    .card-avatar {
        width: 20px;
        height: 20px;
    }
}
  