.stats-chart {
    width: 80%;
    display: block;
    padding: 50px;
  }
  
  .stats-chart app-chart-line {
    width: 80%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  

  .container {
    width: 100%;
    display: inline-flex;
    align-items: center;
  }

  @media all and (max-width: 400px) {
    .stats-chart {
      width: 99%;
      display: block;
      padding: 2px;
    }
    
    .stats-chart app-chart-line {
      width: 99%;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
}